<div class="ui center" id="bottom-pic">
  <div class="masthead-text">
    <h2 class="banner-title aT">JOIN THE POKÉSPOT TEAM</h2>
    <h3 class="banner-subtitle aTS"></h3>
  </div>
</div>

<h1 class="ui blue horizontal divider header divider-space d1">OPEN POSITIONS</h1>

<div class="container">
  <table class="ui unstackable selectable single line striped table">
    <thead>
    <tr class="center aligned">
      <th>Job Title</th>
      <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <tr class="center aligned">
      <td><a href="">MANAGER</a></td>
      <td>UNION SQUARE</td>
    </tr>
    <tr class="center aligned">
      <td><a href="">TEAM MEMBER</a></td>
      <td>SoHo</td>
    </tr>
    <tr class="center aligned">
      <td><a href="">TEAM LEAD</a></td>
      <td>SoHo</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container divider-space"><hr></div>
