<h1 class="ui horizontal divider header divider-space d1"><i class="blue talk icon"></i><i class="blue call icon"></i><i class="blue mail icon"></i></h1>

<div class="ui two column centered stackable grid">
  <div class="two column centered row">
    <div class="column">
      <div class="ui horizontal divider">CONTACT US</div>
      <form class="ui huge form segment" name="contact_form" method="post" action="">
        <div class="two fields">
          <div class="field">
            <label>First name</label>
            <input placeholder="First Name" name="firstName" type="text">
          </div>
          <div class="field">
            <label>Last name</label>
            <input placeholder="Last Name" name="lastName" type="text">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Phone</label>
            <input type="text" id="phone" name="phone" placeholder="Phone">
          </div>
          <div class="field">
            <label>Email</label>
            <input type="text" id="email" name="email" placeholder="Email">
          </div>
        </div>
        <div class="field">
          <textarea class="form-control" id="message" rows="6" placeholder="Drop us a line!"></textarea>
        </div>
        <button class="ui huge primary button" value="Send Form">Submit</button>
      </form>
    </div>
    <div class="column">
      <div class="ui horizontal divider">Or</div>
    </div>
  </div>
</div>

<div class="ui text center aligned container animated-buttons">
  <div class="massive ui black basic vertical animated stackable button bttn" tabindex="0">
    <div class="hidden content contact-button"><span itemprop="email"><a href="mailto:admin@pokespot.com"><i class="big mail outline icon"></i></a></span></div>
    <div class="visible content v-c">
      SEND US AN EMAIL
    </div>
  </div>
  <div class="massive ui black basic vertical animated stackable button bttn" tabindex="0">
    <div class="hidden content contact-button"><span itemprop="telephone"><a href="tel:1-212-933-0971"><i class="big call icon"></i></a></span></div>
    <div class="visible content v-c">
      GIVE US A CALL
    </div>
  </div>
</div>

<div class="ui text center container">
  <div class="ui relaxed grid">
    <div class="one column centered row">
      <div class="column social">
        <button class="ui massive circular blue yelp icon button">
          <a href="https://www.yelp.com/biz/the-pok%C3%A9spot-new-york-3"><i class="yelp icon"></i></a>
        </button>
        <button class="ui massive circular blue instagram icon button">
          <a href="https://www.instagram.com/thepokespotny/?hl=en"><i class="instagram icon"></i></a>
        </button>
        <button class="ui massive circular blue facebook icon button">
          <a href="https://www.facebook.com/thepokespotny/"><i class="facebook icon"></i></a>
        </button>
        <button class="ui massive circular blue foursquare icon blue button">
          <a href="https://foursquare.com/v/the-pok%C3%A9spot/57ab6ff6498e78ef8cc8e8b8"><i class="foursquare icon"></i></a>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container divider-space"><hr></div>
