<div class="footer">
	<div class="footer-links">
      <li class="footer-link"><a [routerLink]="['/faq']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Faqs</a></li>
      <li class="footer-link"><a [routerLink]="['/franchise']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Franchise</a></li>
      <li class="footer-link"><a [routerLink]="['/press']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Press</a></li>
      <li class="footer-link"><a href="">Terms</a></li>
	</div>
		<div class="social-bar">
      <div class="social-icons">
        <a href="https://www.facebook.com/thepokespotny/"><i class="blue icon facebook square"></i></a>
      </div>
      <div class="social-icons">
        <a href="https://foursquare.com/v/the-pok%C3%A9spot/57ab6ff6498e78ef8cc8e8b8"><i class="blue icon foursquare"></i></a>
      </div>
      <div class="social-icons">
        <a href="https://www.instagram.com/thepokespotny/?hl=en"><i class="blue icon instagram"></i></a>
      </div>
      <div class="social-icons">
        <a href="mailto:admin@pokespot.com"><i class="blue icon mail"></i></a>
      </div>
    </div>
</div>

<!---->
