<div class="ui center" id="bottom-pic">
  <div class="masthead-text">
    <h2 class="banner-title aT">MEDIA & PRESS</h2>
    <h3 class="banner-subtitle aTS">Check out what others are saying!</h3>
  </div>
</div>

<h1 class="ui horizontal divider header divider-space d1"><i class="blue newspaper icon"></i><i class="blue photo icon"></i></h1>

<div class="ui column centered grid">
  <div class="column">
    <video controls width="75%" height="100%" poster="../assets/images/pokepics/media/poster2.png" onclick="this.paused?this.play():this.pause();">
      <source src="http://cf.c.ooyala.com/NlOTF2NTE6Wy0_lvxEKsWyyCprue3kzc/DOcJ-FxaFrRg4gtDEwOjIwbTowODE7WK?_=riragnf45fdz05nlv7vi">
    </video>
  </div>
</div>
<hr class="fluff">
<div class="ui stackable three column centered divided grid">
  <div class="three column row">
    <div class="special column">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <a href="http://www.eatthis.com/hawaiian-poke"><div class="ui primary button">Read More</div></a>
            </div>
          </div>
        </div>
        <img class="ui small fluid centered image" src="../assets/images/pokepics/media/eat-this-not-that.jpg">
      </div>
    </div>
    <div class="special column">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <a href="http://ny.eater.com/2016/8/15/12489312/poke-chopped-fish-nyc"><div class="ui primary button">Read More</div></a>
            </div>
          </div>
        </div>
        <img class="ui small fluid centered image" src="../assets/images/pokepics/media/eater-logo-1024x1024.png">
      </div>
    </div>
    <div class="special column">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <a href="http://gothamist.com/2016/08/11/pokespot_4th_avenue.php"><div class="ui primary button">Read More</div></a>
            </div>
          </div>
        </div>
        <img class="ui small fluid centered image" src="../assets/images/pokepics/media/gothamist.png">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="special column">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <a href="http://www.instyle.com/lifestyle/food-drink/poke-bowl-how-to-pokespot"><div class="ui primary button">Read More</div></a>
            </div>
          </div>
        </div>
        <img class="ui small fluid centered image" src="../assets/images/pokepics/media/InStyle_com.png">
      </div>
    </div>
    <div class="special column">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <a href="http://nobread.com/restaurants/the-pokespot"><div class="ui primary button">Read More</div></a>
            </div>
          </div>
        </div>
        <img class="ui small fluid centered image" src="../assets/images/pokepics/media/no_bread.jpg">
      </div>
    </div>
    <div class="special column">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <a href="https://spoilednyc.com/pokespot-new-diy-poke-restaurant-opens-friday-nyc/"><div class="ui primary button">Read More</div></a>
            </div>
          </div>
        </div>
        <img class="ui small fluid centered image" src="../assets/images/pokepics/media/spoiled_nyc.jpeg">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="special column">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <a href="https://www.nytimes.com/2016/08/10/dining/casa-neta-restaurant-news.html?_r=1"><div class="ui primary button">Read More</div></a>
            </div>
          </div>
        </div>
        <img class="ui small fluid centered image" src="../assets/images/pokepics/media/the_new_york_times.jpeg">
      </div>
    </div>
    <div class="special column">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <a href="https://unionsquareblog.org/2016/08/10/east-meets-west-at-the-pokespot/"><div class="ui primary button">Read More</div></a>
            </div>
          </div>
        </div>
        <img class="ui small fluid centered image" src="../assets/images/pokepics/media/union_square_blog.png">
      </div>
    </div>
    <div class="special column">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <a href="https://www.yahoo.com/news/breaking-down-poke-bowl-113000706.html"><div class="ui primary button">Read More</div></a>
            </div>
          </div>
        </div>
        <img class="ui small fluid centered image" src="../assets/images/pokepics/media/yahoo.png">
      </div>
    </div>
  </div>
</div>

<div class="container divider-space"><hr></div>
