#bottom-pic {
  margin: 0 auto;
  height: 80%;
  background: url('../assets/images/pokepics/pkespt4.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.masthead-text {
  position: relative;
  top: 30%;
  text-align: center;
  line-height: 1.5;
  color: white;
  z-index: 5;
  color: white;
  text-shadow: rgb(34, 34, 34) 2px 2px 2px;
  border-width: 0px;
  letter-spacing: 0px;
  opacity: 1;
}
.banner-title {
  font-weight: 700;
  font-size: 4em;
  /*display: inline-block;*/
}
.banner-subtitle {
  font-weight: 300;
  font-size: 2em;
  line-height: 150%;
  display: block !important;
}
.divider-space {
  margin: 100px 0 80px 0;
}
.d1 {
  margin: 0 0 80px 0;
  padding-top: 100px;
  box-shadow: 0px -5px 5px -4px #000000;
}
.franchiseText {
  color: #2185d0;
}
