
<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <sebm-google-map-marker id="mark1" [latitude]="lat" [longitude]="lng">
    <sebm-google-map-info-window [disableAutoPan]="true">
      <a href="https://www.google.com/maps/dir//The+Pok%C3%A9Spot,+120+4th+Ave,+New+York,+NY+10003/@40.7330035,-73.9924376,17z/data=!4m15!1m6!3m5!1s0x89c259993ea054f5:0x9cac974065338e7c!2sThe+Pok%C3%A9Spot!8m2!3d40.7330035!4d-73.9902436!4m7!1m0!1m5!1m1!1s0x89c259993ea054f5:0x9cac974065338e7c!2m2!1d-73.9902436!2d40.7330035">Get Directions</a>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
</sebm-google-map>
