
<div class="ui one column centered grid pokeInfo">
  <h3 class="locationsH3 aT1">VISIT OUR LOCATIONS<br><span class="ui horizontal divider aT2"><i class="blue marker icon"></i></span></h3>
  <div class="ui column">
    <h4 class="aT3">HOURS</h4>
    <p class="aT3">Monday - Sunday: 11:00am - 10:00pm</p>
  </div>
  <div class="ui column">
    <h4 class="aT4">UNION SQUARE</h4>
    <p class="aT4">120 4th Avenue Union Square NY, NY<br>10003</p>
  </div>
  <div class="ui column">
    <h4 class="aT5">SoHo</h4>
    <p class="aT5">25 Cleveland Pl, New York, NY<br>10012<br></p>
    <h4 class="aT5 temp">(COMING SOON & NOW HIRING)</h4>
  </div>
  <div class="ui column">
  </div>
</div>

<div class="g-map">
  <app-map-one></app-map-one>
</div>
