<div class="ui center" id="bottom-pic">
  <div class="masthead-text">
    <h2 class="banner-title aT">QUESTIONS?</h2>
    <h3 class="banner-subtitle aTS">We've got answers.</h3>
  </div>
</div>

<h1 class="ui horizontal divider blue header divider-space d1">FAQ</h1>

<div class="container">
  <div class="ui styled fluid accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      How do you source your ingredients?
    </div>
    <div class="content">
      <p class="transition hidden">From places.</p>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Where can I find nutritional information?
    </div>
    <div class="content">
      <p class="transition visible">On the back.</p>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Where can I find allergen information?
    </div>
    <div class="content">
      <p>Google.</p>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Does The Pokéspot cater?
    </div>
    <div class="content">
      <p>Yes</p>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      I want to be a supplier. How do I do that?
    </div>
    <div class="content">
      <p>IDK.</p>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Does The Pokéspot deliver?
    </div>
    <div class="content">
      <p>Depends.</p>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Do I need to supply my own plates, forks, and napkins when I order catering?
    </div>
    <div class="content">
      <p>Yes.</p>
    </div>
  </div>
</div>

<div class="container divider-space"><hr></div>
