<div class="ui center" id="bottom-pic">
  <div class="masthead-text">
    <h2 class="banner-title aT">WANT TO BECOME A PARTNER?</h2>
    <h3 class="banner-subtitle aTS">Franchise The PokéSpot.</h3>
  </div>
</div>

<h1 class="ui horizontal divider blue header divider-space d1">~</h1>

<div class="container">
  <div class="ui centered stackable grid">
    <div class="two column row">
      <div class="column">
      <h1 class="franchiseText">THE POKÉSPOT IS SEEKING FRANCHISE PARTNERS </h1><br>
      <p>PLEASE FILL OUT THE FORM AND WE WILL GET BACK TO YOU.</p>
    </div>
    <div class="column">
        <form class="ui huge form">
          <div class="twelve wide field">
            <label class="pull-left franchiseText">Name</label>
            <input type="text" name="first-name" placeholder="Name">
          </div>
          <div class="twelve wide field">
            <label class="pull-left franchiseText">Address</label>
            <input type="text" name="last-name" placeholder="Address">
          </div>
          <div class="twelve wide field">
            <label class="pull-left franchiseText">Email Address</label>
            <input type="text" name="last-name" placeholder="Email Address">
          </div>
          <div class="twelve wide field">
            <label class="pull-left franchiseText">Phone Number</label>
            <input type="text" name="last-name" placeholder="Phone Number">
          </div>
        </form>
    `</div>
    </div>
  </div>
    <br><br><br>
    <div class="ui stackable centered grid">
      <div class="two column row">
        <div class="left floated left aligned column">
          <div class="ui huge form">
            <div class="grouped fields">
              <label class="franchiseText">How much capital do you have for investment? *</label>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="capital" tabindex="0" class="hidden">
                  <label>Under 100,000</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="capital" tabindex="0" class="hidden">
                  <label>100,000 - 250,000</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="capital" tabindex="0" class="hidden">
                  <label>250,000 - 500,000</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="capital" tabindex="0" class="hidden">
                  <label>500,000 +</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left floated left aligned column">
          <div class="ui huge form">
            <div class="grouped fields">
              <label class="franchiseText">Your estimated net worth *</label>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="net-worth" tabindex="0" class="hidden">
                  <label>Under 100,000</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="net-worth" tabindex="0" class="hidden">
                  <label>100,000 - 250,000</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="net-worth" tabindex="0" class="hidden">
                  <label>250,000 - 500,000</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="net-worth" tabindex="0" class="hidden">
                  <label>500,000 - 1 million</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="net-worth" tabindex="0" class="hidden">
                  <label>1 million - 5 million</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="net-worth" tabindex="0" class="hidden">
                  <label>over 5 million</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="ui stackable centered grid">
      <div class="two column row">
        <div class="left aligned column">
          <div class="ui huge form">
            <div class="field">
              <label>Desired Region / Geographic Location: *</label>
              <textarea rows="2"></textarea>
            </div>
          </div>
        </div>
        <div class="left aligned column">
          <div class="ui huge form">
            <div class="field">
              <label class="franchiseText">Do you have any prior restaurant / business experience? Please Elaborate *</label>
              <textarea rows="2"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <button class="ui huge button" type="submit">Submit</button>
</div>

<div class="container divider-space"><hr></div>
