
<div class="ui center" id="bottom-pic">
  <div class="masthead-text">
      <h2 class="banner-title aT">WHAT'S IN THE BOWL?</h2>
      <h3 class="banner-subtitle aTS">Our mantra is simple: Since every person is unique,their<br>
        poké bowl should be too. We customize everything that<br>leaves our kitchen directly for you.</h3>
  </div>
</div>

<h1 class="ui horizontal divider header divider-space d1"><i class="huge blue food icon"></i></h1>

<div class="container menu-bowls">
  <div class="ui huge left aligned blue header cardSections">Popular</div>
</div>
<div class="container menu-cards">
  <div class="ui three stackable fluid raised cards"> <!-- add "special" -->
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="twoPopular">Add to cart</div>
              <div class="ui modal one">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/customized_bowl_2_protein.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Two Protein Customized Bowl</h3>
        <p class="menu-description">Your choice of two proteins, mix-ins, sauces, and toppings.</p>
        <h3 class="ui header price">10.95</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="threePopular">Add to cart</div>
              <div class="ui modal two">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/customized_bowl_3_proteins.jpg" height="750" width="750">
      </div>
      <div class="content">
        <h3 class="ui header">Three Protein Customized Bowl</h3>
        <p class="menu-description">Your choice of three proteins, mix-ins, sauces, and toppings.</p>
        <h3 class="ui header price">13.25</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="ahiTunaPopular">Add to cart</div>
              <div class="ui modal three">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/ahi_tuna.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Ahi Tuna</h3>
        <p class="menu-description">Tuna, cucumber, green onion, hijiki seaweed, sweet furikake, fish flakes, and sesame shoyu.</p>
        <h3 class="ui header price">10.95</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="misoSpicyPopular">Add to cart</div>
              <div class="ui modal four">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/miso_spicy.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Miso Spicy</h3>
        <p class="menu-description">Tuna, salmon, hijiki seaweed, sweet furikake, fish flakes, and spicy miso.</p>
        <h3 class="ui header price">10.95</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <hr>
</div>

<div class="container menu-bowls">
  <div class="ui huge left aligned blue header cardSections">Bowls</div>
</div>

<div class="container menu-cards">
  <div class="ui three stackable fluid raised cards">  <!-- add "special" -->
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="twoBowl">Add to cart</div>
              <div class="ui modal five">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/customized_bowl_2_protein.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Two Protein Customized Bowl</h3>
        <p class="menu-description">Your choice of two proteins, mix-ins, sauces, and toppings.</p>
        <h3 class="ui header price">10.95</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="threeBowl">Add to cart</div>
              <div class="ui modal six">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/customized_bowl_3_proteins.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Three Protein Customized Bowl</h3>
        <p class="menu-description">Your choice of three proteins, mix-ins, sauces, and toppings.</p>
        <h3 class="ui header price">13.25</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="avocadoBoat">Add to cart</div>
              <div class="ui modal seven">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/avocado_boat.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Avocado Boat</h3>
        <p class="menu-description">With one protein, two toppings, and sauce.</p>
        <h3 class="ui header price">6.50</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="spicySalmon">Add to cart</div>
              <div class="ui modal eight">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/spicy_salmon.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Spicy Salmon</h3>
        <p class="menu-description">Salmon, cucumber, green onion, kani salad, masago, sweet furikake, fish flakes, and sesame shoyu.</p>
        <h3 class="ui header price">10.95</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="ahiTunaBowl">Add to cart</div>
              <div class="ui modal nine">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/ahi_tuna.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Ahi Tuna</h3>
        <p class="menu-description">Tuna, cucumber, green onion, hijiki seaweed, sweet furikake, fish flakes, and sesame shoyu.</p>
        <h3 class="ui header price">10.95</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="misoSpicyBowl">Add to cart</div>
              <div class="ui modal ten">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/miso_spicy.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Miso Spicy</h3>
        <p class="menu-description">Tuna, salmon, hijiki seaweed, sweet furikake, fish flakes, and spicy miso.</p>
        <h3 class="ui header price">10.95</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="citrusFresh">Add to cart</div>
              <div class="ui modal eleven">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
              <p></p>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/citrus_fresh.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Citrus Fresh</h3>
        <p class="menu-description">Salmon, shrimp, cucumber, seaweed salad, green onion, mango, sweet furikake, and lime ponzu.</p>
        <h3 class="ui header price">10.95</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="teriyakiSurfAndTurf">Add to cart</div>
              <div class="ui modal twelve">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/teriyaki_surf_turf.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Teriyaki Surf and Turf</h3>
        <p class="menu-description">Chicken, shrimp, kani salad, cucumber, green onion, masago, sweet furikake, rice puffs, and sweet teriyaki.</p>
        <h3 class="ui header price">10.95</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="sesameTofu">Add to cart</div>
              <div class="ui modal thirteen">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/sesame_tofu.jpg" height="750" width="750">
      </div>
      <div class="content">
        <h3 class="ui header">Sesame Tofu</h3>
        <p class="menu-description">Tofu, cucumber, mushroom, green onion, edamame, sesame seeds, and sesame ginger.</p>
        <h3 class="ui header price">10.95</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="pokespotSpecial">Add to cart</div>
              <div class="ui modal fourteen">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/pokespot_special.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">PokeSpot Special</h3>
        <p class="menu-description">Snow crab, salmon, cucumber, green onion, seaweed salad, kani salad, sweet furikake, onion crisps, and PokeSpot sauce.</p>
        <h3 class="ui header price">12.90</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <hr>
</div>

<div class="container menu-bowls">
  <div class="ui huge left aligned blue header cardSections">Sides</div>
</div>
<div class="container menu-cards">
  <div class="ui three stackable fluid raised cards">  <!-- add "special" -->
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="chips">Add to cart</div>
              <div class="ui modal fifteen">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/chips.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Chips</h3>
        <h3 class="ui header price">1.75</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="crabGuacamole">Add to cart</div>
              <div class="ui modal sixteen">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/guac.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Crab Guacamole</h3>
        <h3 class="ui header price">3.50</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="misoSoup">Add to cart</div>
              <div class="ui modal seventeen">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <svg viewBox="0 0 60 55" width="250" height="170">
        </svg>
      </div>
      <div class="content">
        <h3 class="ui header">Miso Soup</h3>
        <h3 class="ui header price">1.50</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <hr>
</div>

<div class="container menu-bowls">
  <div class="ui huge left aligned blue header cardSections">Salads</div>
</div>
<div class="container menu-cards">
  <div class="ui three stackable fluid raised cards">  <!-- add "special" -->
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="kaniSalad">Add to cart</div>
              <div class="ui modal eighteen">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/kani_salad.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Kani Salad</h3>
        <h3 class="ui header price">3.95</h3>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="seaweedSalad">Add to cart</div>
              <div class="ui modal nineteen">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/seaweed_salad.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Seaweed Salad</h3>
        <h3 class="ui header price">3.95</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <hr>
</div>

<div class="container menu-bowls">
  <div class="ui huge left aligned blue header cardSections">Drinks</div>
</div>
<div class="container menu-cards">
  <div class="ui three stackable fluid raised cards"> <!-- add "special" -->
    <div class="ui fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted grey button" id="softDrinks">Add to cart</div>
              <div class="ui modal twenty">
                <div class="header">Header</div>
                <div class="content">
                  <p></p>
                </div>
                <div class="actions">
                  <div class="ui approve button">Approve</div>
                  <div class="ui button">Neutral</div>
                  <div class="ui cancel button">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../assets/images/pokepics/menu-items/drinks.jpg">
      </div>
      <div class="content">
        <h3 class="ui header">Soft Drinks</h3>
        <h3 class="ui header price">2.75</h3>
      </div>
    </div>
  </div>
</div>

<div class="ui divider-space"><hr></div>
